##################################################
###Managed by AWG Server Team, direct changes#####
#####to this file will be overwritten#############
##################################################

#### MODULES ####
#
# The imjournal module bellow is now used as a message source instead of imuxsock.
$ModLoad imuxsock # provides support for local system logging (e.g. via logger command)
$ModLoad imjournal # provides access to the systemd journal
#$ModLoad imklog # reads kernel messages (the same are read from journald)
#$ModLoad immark  # provides --MARK-- message capability

# Where to place auxiliary files
$WorkDirectory /var/lib/rsyslog

# Use default timestamp format
$ActionFileDefaultTemplate RSYSLOG_TraditionalFileFormat

# Include all config files in /etc/rsyslog.d/
$IncludeConfig /etc/rsyslog.d/*.conf

# Turn off message reception via local log socket;
# local messages are retrieved through imjournal now.
$OmitLocalLogging on

# File to store the position in the journal
$IMJournalStateFile imjournal.state

# Log anything (except mail) of level info or higher.
# Don't log private authentication messages!
*.info;mail.none;authpriv.none;cron.none                /var/log/messages

# The authpriv file has restricted access.
authpriv.*                                              /var/log/secure

# Log all the mail messages in one place.
mail.*                                                  -/var/log/maillog

# Log cron stuff
cron.*                                                  /var/log/cron

# Everybody gets emergency messages
*.emerg                                                 :omusrmsg:*

# Save news errors of level crit and higher in a special file.
uucp,news.crit                                          /var/log/spooler

# Save boot messages also to boot.log
local7.*                                                /var/log/boot.log

##### Sending Logs to Graylog Server for AWG Log Collection#####
{% if inventory_hostname in groups['prod'] %}
*.*@10.1.200.56:5140;RSYSLOG_SyslogProtocol23Format #This is to the Production Graylog (graylog.awg.local)
{% endif %}
{% if inventory_hostname in groups['nonprod'] %}
*.*@10.2.200.90:5141;RSYSLOG_SyslogProtocol23Format #This is to the Test Graylog (graylogtest.awg.local)
*.*@10.1.200.56:5140;RSYSLOG_SyslogProtocol23Format #This is to the Production Graylog (graylog.awg.local)
{% endif %}

{% if inventory_hostname in groups['iib_logs_q1'] %}
###IIB Logs to Graylog###
$ModLoad imfile
$InputFileName /awg/logs/logging.IIBQ1
$InputFileTag ais_logging
$InputFileStateFile ais-qa-log
$InputFileSeverity info
$InputFileFacility local6
$InputRunFileMonitor
{% endif %}
{% if inventory_hostname in groups['iib_logs_t1'] %}
###IIB Logs to Graylog###
$ModLoad imfile
$InputFileName /awg/logs/logging.IIBT1
$InputFileTag ais_logging
$InputFileStateFile ais-t1-log
$InputFileSeverity info
$InputFileFacility local6
$InputRunFileMonitor
{% endif %}
{% if inventory_hostname in groups['iib_logs_p1'] %}
###IIB Logs to Graylog###
$ModLoad imfile
$InputFileName /awg/logs/logging.IIBP1
$InputFileTag ais_logging
$InputFileStateFile ais-p1-log
$InputFileSeverity info
$InputFileFacility local6
$InputRunFileMonitor
{% endif %}
{% if inventory_hostname in groups['iib_logs_p2'] %}
###IIB Logs to Graylog###
$ModLoad imfile
$InputFileName /awg/logs/logging.IIBP2
$InputFileTag ais_logging
$InputFileStateFile ais-p2-log
$InputFileSeverity info
$InputFileFacility local6
$InputRunFileMonitor
{% endif %}
