##################################################
###Managed by AWG Server Team, direct changes#####
#####to this file will be overwritten#############
##################################################

search awg.local
nameserver 10.2.200.104
nameserver 10.2.200.111
nameserver 172.16.4.4
